Repository RazorSiM/vite-vue-starter: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-style, format

lint:
  run: yarn lint {staged_files}

lint-style:
  run: yarn lint:style {staged_files}

format:
  run: yarn prettier:write {staged_files}

removed tailwindcss for windi
  package.json
  postcss.config.js
  src/assets/styles.css
  src/main.js
  tailwind.config.js
  vite.config.js
  windi.config.js
Due: lint, lint-style, format

updated lefthook settings
  lefthook.yml
Due: none

updated readme and recommended extensions
  .vscode/extensions.json
  README.md
Due: format

added pinia, modified windi, updated home with a store example interaction
  README.md
  package.json
  src/assets/logo.png
  src/layouts/Base.vue
  src/main.js
  src/stores/global.js
  src/stores/index.js
  src/views/Home.vue
  windi.config.js
Due: lint, lint-style, format

package.json infos
  package.json
Due: format

updated readme
  README.md
Due: none

pnpm-lock to ignore
  .gitignore
Due: none

script setup and updated vetur to volar
  .vscode/extensions.json
  src/App.vue
  src/views/About.vue
  src/views/Home.vue
Due: lint, lint-style, format

updated packages
  package.json
Due: format

updated dependencies
  package.json
Due: format

enabled ref sugar
  vite.config.js
Due: lint, format

update to ref sugar
  src/App.vue
  src/layouts/Base.vue
  src/layouts/Empty.vue
  src/views/Home.vue
Due: lint, lint-style, format

update packages
  package.json
Due: format

Update README.md
  README.md
Due: none

Path conditions:
  lint: any of: *.{js,vue}
  lint-style: any of: *.{vue,css}
  format: any of: *.{js,vue,css,json}
